* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#finitaLaComedia {
  display: none;
}

#diod {
  display: none;
}

#header {
  width: 100%;
  height: 121px;
  background-color: rgba(21, 21, 21, 0.6);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#header #logo {
  width: 140px;
  position: absolute;
  left: 75px;
  top: 31px;
}

#header #miller {
  display: none;
}

#header #miller #rotor {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header #headerText {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header #headerText #headerReferencesFirst {
  cursor: pointer;
}

#header #headerText #headerReferencesFirst a {
  text-decoration: none;
  color: green;
}

#header #headerText .headerReferences {
  cursor: pointer;
}

#header #headerText .headerReferences a {
  text-decoration: none;
  color: white;
}

#header #headerText .headerReferences a:hover {
  color: green;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header #boo {
  width: 125px;
  height: 38px;
  background-color: white;
  font-weight: bold;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 50px;
  top: 41px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header #boo:hover {
  background-color: black;
  color: white;
}

#welcome {
  width: 100%;
  height: 830px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  20% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  40% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  20% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  40% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

#welcome {
  margin-top: 91px;
}

#welcome #welcomeBackCrutch {
  width: 100%;
  height: 830px;
  margin-top: -100px;
  overflow: hidden;
}

#welcome #welcomeBackCrutch #welcomeBack {
  background-image: url(../img/welcomeBack.jpg);
  background-repeat: round;
  width: 120%;
  height: 1030px;
  margin-left: -50px;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 4;
}

#welcome #welcomeCrutch {
  position: absolute;
  margin: 280px auto 0 auto;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

#welcome #welcomeCrutch h2 {
  font-size: 80px;
  padding-bottom: 20px;
}

#welcome #welcomeCrutch .short {
  border: none;
  background-color: white;
  color: white;
  height: 3px;
  width: 60px;
}

#welcome #welcomeCrutch p {
  font-size: 20px;
  width: 600px;
  padding-top: 20px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

#welcome #welcomeCrutch #appendix {
  width: 1170px;
  height: 204px;
  margin-top: 220px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px grey;
          box-shadow: 0 0 10px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
}

#welcome #welcomeCrutch #appendix .appendixSlash {
  height: 40%;
  width: 2px;
  background-color: grey;
}

#welcome #welcomeCrutch #appendix #appendixName {
  color: black;
  width: 200px;
  height: 180px;
}

#welcome #welcomeCrutch #appendix #appendixName #appendixNameName {
  margin: 55px 0 0 30px;
}

#welcome #welcomeCrutch #appendix #appendixName #appendixNameForm form input {
  border: none;
  color: black;
  padding-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  outline: none;
}

#welcome #welcomeCrutch #appendix #appendixPhone {
  color: black;
  width: 200px;
  height: 180px;
}

#welcome #welcomeCrutch #appendix #appendixPhone #appendixPhoneName {
  margin: 55px 0 0 30px;
}

#welcome #welcomeCrutch #appendix #appendixPhone #appendixPhoneForm form input {
  border: none;
  color: black;
  font-size: 20px;
  padding-left: 30px;
  margin-top: 20px;
  outline: none;
}

#welcome #welcomeCrutch #appendix #appendixCalendar {
  color: black;
  width: 250px;
  height: 180px;
}

#welcome #welcomeCrutch #appendix #appendixCalendar #appendixCalendarHead {
  margin: 55px 0 0 30px;
}

#welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 {
  margin-top: 15px;
  margin-left: 30px;
}

#welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 .form-control {
  display: inline-block;
  width: 170px;
  border: none;
}

#welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 .form-control .datepickerbutton {
  border-style: none;
  font-size: 20px;
  outline: none;
}

#welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 .form-control .datepickerbutton .glyphicon {
  display: inline-block;
  margin: 0 0 0 10px;
  cursor: pointer;
}

#welcome #welcomeCrutch #appendix #appendix4 {
  height: 180px;
  width: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#welcome #welcomeCrutch #appendix #appendix4 #appendix4left {
  color: black;
  height: 180px;
  width: 45%;
}

#welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftHead {
  margin: 55px 0 0 30px;
}

#welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftFooter {
  margin: 20px 0 0 30px;
}

#welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftFooter #peopleEval {
  display: inline;
}

#welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftFooter #peoplePicker {
  display: inline;
  margin-left: 50px;
}

#welcome #welcomeCrutch #appendix #appendix4 #appendixButton {
  background-color: #2d2d2d;
  height: 50px;
  width: 43%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0;
  cursor: pointer;
  font-size: 15px;
}

#welcome #welcomeCrutch #appendix #appendix4 #appendixButton:hover {
  background-color: green;
}

.long {
  display: none;
}

#aboutUs {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: azure;
  overflow: hidden;
}

#aboutUs #aboutUsCrutch {
  width: 1170px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

#aboutUs #aboutUsCrutch #aboutUsLeft {
  width: 100%;
  margin-left: -150%;
}

#aboutUs #aboutUsCrutch #aboutUsLeft img {
  width: 80%;
  margin: 170px 0 0 0;
  border-radius: 10px;
}

#aboutUs #aboutUsCrutch #aboutUsRight {
  width: 100%;
  margin-left: 170%;
  font-family: 'Poppins', sans-serif;
}

#aboutUs #aboutUsCrutch #aboutUsRight h2 {
  font-size: 30px;
  padding: 170px 0 0 0;
}

#aboutUs #aboutUsCrutch #aboutUsRight p {
  width: 100%;
  padding: 30px 0 0 0;
  text-align: justify;
  font-size: 16px;
}

#aboutUs #aboutUsCrutch #aboutUsRight img {
  width: 200px;
  padding: 20px 0 70px 0;
  float: right;
}

#offers {
  width: 100%;
  height: 750px;
  background-color: gainsboro;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

#offers #offersCrutch {
  width: 1170px;
  height: 750px;
  margin: 0 auto;
}

#offers #offersCrutch #offersTop {
  margin-top: -270px;
}

#offers #offersCrutch #offersTop h2 {
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 30px;
}

#offers #offersCrutch #offersTop p {
  text-align: center;
  padding: 20px 30% 50px 30%;
  font-size: 16px;
}

#offers #offersCrutch #offersBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 860px;
}

#offers #offersCrutch #offersBottom .offersBox {
  width: 31%;
  height: 450px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#offers #offersCrutch #offersBottom .offersBox img {
  width: 100%;
}

#offers #offersCrutch #offersBottom .offersBox h3 {
  padding-top: 20px;
  font-size: 22px;
}

#offers #offersCrutch #offersBottom .offersBox p {
  padding: 20px 0 0 0;
  font-size: 16px;
  color: green;
}

#offers #offersCrutch #offersBottom .offersBox .offersHover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 50px;
  background-color: limegreen;
  color: white;
  opacity: 0;
  cursor: pointer;
  font-size: 16px;
}

#offers #offersCrutch #offersBottom .offersBox .offersHover:hover {
  background-color: dimgray;
}

#ourMenu {
  width: 100%;
  height: 1400px;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

#ourMenu h2 {
  padding: 120px 0 50px 0;
  font-size: 30px;
}

#ourMenu #ourMenuCrutch {
  width: 1170px;
  height: 1050px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

#ourMenu #ourMenuCrutch #ourMenuNavigation {
  width: 100%;
  height: 110px;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ourMenu #ourMenuCrutch #ourMenuNavigation #ourMenuNavigationCrutch {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ourMenu #ourMenuCrutch #ourMenuNavigation #ourMenuNavigationCrutch h3 {
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#ourMenu #ourMenuCrutch #ourMenuBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ourMenu #ourMenuCrutch #ourMenuBlocks .newMenuElem {
  width: 60%;
  height: 200px;
  margin-top: 20px;
}

#ourMenu #ourMenuCrutch #ourMenuBlocks .newMenuElem .price {
  font-size: 16px;
  color: green;
  margin-top: 15px;
}

#ourMenu #ourMenuCrutch #ourMenuBlocks .newMenuElem .productName {
  font-size: 22px;
  margin-top: 16px;
}

#ourMenu #ourMenuCrutch #ourMenuBlocks .newMenuElem .productDescript {
  font-size: 16px;
  margin-top: 15px;
  color: grey;
}

#galleryTop {
  width: 100%;
  font-size: 0;
  overflow: hidden;
}

#galleryTop #galleryCrutch {
  width: 100%;
  padding-bottom: 21%;
  position: relative;
}

#galleryTop #galleryCrutch #hereContents {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -400px;
}

#galleryTop #galleryCrutch #hereContents div {
  width: 33.33%;
  background-repeat: round;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#galleryTop #galleryCrutch #hereContents #img1 {
  background-image: url(../img/gallery/01.jpg);
}

#galleryTop #galleryCrutch #hereContents #img2 {
  background-image: url(../img/gallery/02.jpg);
}

#galleryTop #galleryCrutch #hereContents #img3 {
  background-image: url(../img/gallery/03.jpg);
}

#galleryBottom {
  width: 100%;
  font-size: 0;
  overflow: hidden;
}

#galleryBottom #galleryCrutch2 {
  width: 100%;
  padding-bottom: 21%;
  position: relative;
}

#galleryBottom #galleryCrutch2 #hereContents2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 400px;
}

#galleryBottom #galleryCrutch2 #hereContents2 div {
  width: 50%;
  background-repeat: round;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#galleryBottom #galleryCrutch2 #hereContents2 #img4 {
  background-image: url(../img/gallery/04.jpg);
}

#galleryBottom #galleryCrutch2 #hereContents2 #img5 {
  background-image: url(../img/gallery/05.jpg);
}

.galleryHover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 110px;
  max-width: 110px;
  height: 110px;
  margin-left: -30px;
  opacity: 0;
}

.galleryHover .round {
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.galleryHover .round .smallRound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 90px;
  max-width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: gainsboro;
  font-weight: bold;
  font-size: 20px;
  z-index: 5;
  cursor: pointer;
}

.galleryHover:hover .round {
  min-width: 110px;
  max-width: 110px;
  height: 110px;
}

#model {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  cursor: pointer;
  z-index: 10;
}

#model img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 80vh;
  max-width: 80%;
}

#news {
  width: 100%;
  height: 700px;
  background-color: #FFFFFF;
  color: rgba(21, 21, 21, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#news #newsHeader {
  width: 100%;
  text-align: center;
  margin-top: -100px;
  font-size: 35px;
}

#news #nonagon {
  width: 1210px;
  height: 300px;
  overflow: hidden;
  margin-top: 800px;
}

#news #nonagon #nonagonCrutch {
  width: 300%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#news #nonagon #nonagonCrutch .nonagon {
  width: 20%;
  height: 300px;
  margin: 0 20px;
}

#news #nonagon #nonagonCrutch .nonagon .nonTop {
  padding: 6px;
  background-color: #2d2d2d;
  width: 120px;
  text-align: center;
  color: white;
  border-radius: 4px;
}

#news #nonagon #nonagonCrutch .nonagon .nonTop:hover {
  background-color: green;
}

#news #nonagon #nonagonCrutch .nonagon h4 {
  font-size: 35px;
  margin-top: 20px;
  font-weight: lighter;
}

#news #nonagon #nonagonCrutch .nonagon h4:hover {
  color: green;
}

#news #nonagon #nonagonCrutch .nonagon p {
  font-size: 16px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

#news #nonagon #nonagonCrutch .nonagon p:hover {
  color: green;
}

#news #nonagon #nonagonCrutch .nonagon h5 {
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

#news #nonagon #nonagonCrutch .nonagon h5:hover {
  color: green;
}

#news #triada {
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 800px;
}

#news #triada .triada {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
}

#news #triada .triada:hover {
  background-color: green;
}

#footer {
  width: 100%;
  height: 606px;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer #footerLogo {
  margin-top: 110px;
}

#footer #footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 500px;
  margin-top: 60px;
  color: white;
  font-weight: bold;
}

#footer #footerMenu .footerMenu:hover {
  color: green;
}

#footer #footerMenu .footerMenuSlash {
  height: 100%;
  width: 1px;
  background-color: white;
}

#footer #footerIcons {
  width: 450px;
  height: 50px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer #footerIcons .footerIcons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  background-color: dimgrey;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer #footerIcons .footerIcons:hover {
  background-color: green;
}

#footer #footerSign {
  color: grey;
  margin-top: 100px;
}

@media screen and (max-width: 1199px) {
  #welcome #welcomeCrutch h2 {
    font-size: 32px;
  }
  #welcome #welcomeCrutch #appendix {
    width: 960px;
    height: 152px;
    margin-top: 300px;
  }
  #welcome #welcomeCrutch #appendix #appendixName {
    width: 150px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone {
    width: 170px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar {
    width: 250px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 {
    width: 390px;
  }
  #aboutUs #aboutUsCrutch {
    width: 960px;
  }
  #aboutUs #aboutUsCrutch #aboutUsLeft img {
    margin: 110px 0 0 0;
    width: 90%;
  }
  #aboutUs #aboutUsCrutch #aboutUsRight h2 {
    font-size: 26px;
    padding: 110px 0 0 0;
  }
  #aboutUs #aboutUsCrutch #aboutUsRight p {
    padding: 10px 0 0 0;
  }
  #aboutUs #aboutUsCrutch #aboutUsRight img {
    width: 150px;
    padding: 0 0 60px 0;
  }
  #offers #offersCrutch {
    width: 960px;
  }
  #offers #offersCrutch #offersTop h2 {
    font-size: 28px;
  }
  #ourMenu h2 {
    font-size: 28px;
  }
  #ourMenu #ourMenuCrutch {
    width: 960px;
  }
  #galleryTop #galleryCrutch #hereContents {
    margin-top: -300px;
  }
  #galleryBottom #galleryCrutch2 #hereContents2 {
    margin-top: 250px;
  }
  #news #newsHeader {
    margin-top: -100px;
  }
  #news #nonagon {
    width: 1000px;
  }
}

@media screen and (max-width: 991px) {
  #header {
    background-color: #2d2d2d;
    height: 56px;
  }
  #header #miller {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 20px;
  }
  #header #miller #rotor {
    width: 40px;
  }
  #header #logo {
    top: 11px;
  }
  #header #logo img {
    width: 80px;
  }
  #header #headerCrutch {
    width: 250px;
    height: 100vh;
    display: inline-block;
    position: absolute;
    top: 56px;
    left: -250px;
    z-index: 50;
    background-color: #2d2d2d;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 15px rgba(21, 21, 21, 0.35);
            box-shadow: 0 0 15px rgba(21, 21, 21, 0.35);
  }
  #header #headerCrutch #headerText {
    display: inline-block;
  }
  #header #headerCrutch #headerText div {
    margin: 20px 0 0 20px;
  }
  #header #headerCrutch #boo {
    position: relative;
    right: -20px;
    top: 40px;
  }
  #welcome {
    margin-top: 56px;
    height: 400px;
  }
  #welcome #welcomeBackCrutch {
    height: 400px;
    margin-top: 0;
  }
  #welcome #welcomeBackCrutch #welcomeBack {
    height: 430px;
  }
  #welcome #welcomeCrutch {
    margin: 80px auto 0 auto;
  }
  #welcome #welcomeCrutch h2 {
    font-size: 32px;
  }
  #welcome #welcomeCrutch #appendix {
    width: 690px;
    height: 211px;
    margin-top: 40px;
  }
  #welcome #welcomeCrutch #appendix .appendixSlash {
    margin-top: -70px;
  }
  #welcome #welcomeCrutch #appendix #appendixName {
    margin-top: -70px;
    width: 140px;
  }
  #welcome #welcomeCrutch #appendix #appendixName #appendixNameName {
    margin: 55px 0 0 15px;
  }
  #welcome #welcomeCrutch #appendix #appendixName #appendixNameForm form input {
    padding-left: 15px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone {
    margin-top: -70px;
    width: 140px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone #appendixPhoneName {
    margin: 55px 0 0 15px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone #appendixPhoneForm form input {
    padding-left: 15px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar {
    margin-top: -70px;
    width: 190px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #appendixCalendarHead {
    margin: 55px 0 0 15px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 {
    margin-left: 15px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 .form-control {
    width: 130px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 {
    margin-top: -70px;
    width: 200px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left {
    width: 100%;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendixButton {
    margin-left: -474px;
    margin-top: 100px;
    position: absolute;
    width: 200px;
  }
  #aboutUs #aboutUsCrutch {
    width: 690px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 400px 400px;
        grid-template-rows: 400px 400px;
  }
  #aboutUs #aboutUsCrutch #aboutUsLeft img {
    margin: 130px 0 0 0;
    width: 70%;
  }
  #offers {
    height: 720px;
  }
  #offers #offersCrutch {
    width: 740px;
  }
  #ourMenu #ourMenuCrutch {
    width: 740px;
  }
  #galleryTop #galleryCrutch #hereContents {
    margin-top: -200px;
  }
  #galleryBottom #galleryCrutch2 #hereContents2 {
    margin-top: 200px;
  }
  #news #newsHeader {
    font-size: 26px;
  }
  #news #nonagon {
    width: 740px;
  }
  #news #nonagon #nonagonCrutch .nonagon h4 {
    font-size: 22px;
  }
  #news #nonagon #nonagonCrutch .nonagon p {
    font-size: 14px;
  }
  #news #nonagon #nonagonCrutch .nonagon h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  #welcome #welcomeCrutch p {
    font-size: 16px;
    width: 300px;
  }
  #welcome #welcomeCrutch #appendix {
    width: 510px;
    height: 273px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 136px 137px;
        grid-template-rows: 136px 137px;
    -ms-grid-columns: 255px 255px;
        grid-template-columns: 255px 255px;
    grid-gap: 0;
  }
  #welcome #welcomeCrutch #appendix .appendixSlash {
    margin-top: -70px;
    display: none;
  }
  #welcome #welcomeCrutch #appendix #appendixName {
    margin-top: 40px;
    width: 250px;
  }
  #welcome #welcomeCrutch #appendix #appendixName #appendixNameName {
    margin: 20px 0 0 20px;
  }
  #welcome #welcomeCrutch #appendix #appendixName #appendixNameForm form input {
    padding-left: 20px;
    margin-top: 20px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone {
    margin-top: 40px;
    width: 250px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone #appendixPhoneName {
    margin: 20px 0 0 20px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone #appendixPhoneForm form input {
    padding-left: 20px;
    margin-top: 20px;
    width: 200px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar {
    margin-top: 20px;
    width: 250px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #appendixCalendarHead {
    margin: -10px 0 0 20px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 {
    margin-left: 20px;
    width: 214px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 .form-control {
    width: 170px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 {
    margin-top: 20px;
    width: 250px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left {
    width: 80%;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftHead {
    margin: -10px 0 0 -5px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftFooter {
    margin: 20px 0 0 -5px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftFooter #peoplePicker {
    margin-left: 170px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendixButton {
    margin-left: -260px;
    margin-top: 20px;
  }
  #aboutUs #aboutUsCrutch {
    width: 510px;
    -ms-grid-rows: 500px 450px;
        grid-template-rows: 500px 450px;
  }
  #aboutUs #aboutUsCrutch #aboutUsLeft img {
    margin: 200px 0 0 0;
    width: 100%;
  }
  #offers {
    height: 1730px;
  }
  #offers #offersCrutch {
    width: 510px;
    height: 1730px;
  }
  #offers #offersCrutch #offersTop h2 {
    padding: 50px 0 0 0;
  }
  #offers #offersCrutch #offersTop p {
    padding: 20px 10% 50px 10%;
  }
  #offers #offersCrutch #offersBottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1780px;
  }
  #offers #offersCrutch #offersBottom .offersBox {
    width: 70%;
    height: 500px;
  }
  #ourMenu #ourMenuCrutch {
    width: 510px;
  }
  #ourMenu #ourMenuCrutch #ourMenuNavigation #ourMenuNavigationCrutch {
    width: 60%;
  }
  #ourMenu #ourMenuCrutch #ourMenuBlocks .newMenuElem {
    width: 90%;
  }
  #news #newsHeader {
    font-size: 24px;
  }
  #news #nonagon {
    width: 510px;
  }
  #news #nonagon #nonagonCrutch .nonagon h4 {
    font-size: 20px;
  }
  #news #nonagon #nonagonCrutch .nonagon p {
    font-size: 12px;
  }
  #news #nonagon #nonagonCrutch .nonagon h5 {
    font-size: 12px;
  }
  .long {
    display: inherit;
    margin: 15px 0 0 20px;
    border: none;
    background-color: grey;
    color: grey;
    height: 1px;
    width: 200px;
  }
  #avadaKedavra {
    margin: 20px 0 0 -5px;
  }
}

@media screen and (max-width: 575px) {
  #welcome #welcomeCrutch p {
    font-size: 14px;
    width: 94%;
  }
  #welcome #welcomeCrutch #appendix {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    height: 457px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 90px 90px 90px 180px;
        grid-template-rows: 90px 90px 90px 180px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    font-size: 15px;
  }
  #welcome #welcomeCrutch #appendix .appendixSlash {
    margin-top: -70px;
    display: none;
  }
  #welcome #welcomeCrutch #appendix #appendixName {
    margin-top: 0;
    width: 100%;
    height: 90px;
  }
  #welcome #welcomeCrutch #appendix #appendixName #appendixNameName {
    margin: 10px 0 0 20px;
  }
  #welcome #welcomeCrutch #appendix #appendixName #appendixNameForm form input {
    padding-left: 20px;
    margin-top: 20px;
    font-size: 16px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone {
    margin-top: 0;
    width: 100%;
    height: 90px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone #appendixPhoneName {
    margin: 10px 0 0 20px;
  }
  #welcome #welcomeCrutch #appendix #appendixPhone #appendixPhoneForm form input {
    padding-left: 20px;
    margin-top: 20px;
    width: 200px;
    font-size: 16px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar {
    margin-top: 0;
    width: 100%;
    height: 90px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #appendixCalendarHead {
    margin: 10px 0 0 20px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 {
    margin-left: 20px;
    width: 220px;
  }
  #welcome #welcomeCrutch #appendix #appendixCalendar #datetimepicker6 .form-control {
    width: 210px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 {
    margin-top: 0;
    width: 100%;
    height: 90px;
    position: relative;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left {
    width: 100%;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftHead {
    margin: 25px 0 0 20px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftFooter {
    font-size: 16px;
    width: 95%;
    margin: 15px 0 0 20px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftFooter #peopleEval {
    width: 100%;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendix4left #appendix4leftFooter #peoplePicker {
    width: 100%;
    margin-left: 212px;
  }
  #welcome #welcomeCrutch #appendix #appendix4 #appendixButton {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 72px;
  }
  .long {
    width: 90%;
  }
  #avadaKedavra {
    width: 90%;
    margin: 25px 0 0 20px;
  }
  #aboutUs #aboutUsCrutch {
    width: 94%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aboutUs #aboutUsCrutch #aboutUsLeft img {
    margin: 350px 0 0 0;
  }
  #aboutUs #aboutUsCrutch #aboutUsRight h2 {
    padding: 20px 0 0 0;
  }
  #aboutUs #aboutUsCrutch #aboutUsRight img {
    width: 100px;
    padding: 10px 0 30px 0;
  }
  #offers {
    height: 1440px;
  }
  #offers #offersCrutch {
    width: 100%;
    height: 1440px;
  }
  #offers #offersCrutch #offersTop p {
    padding: 20px 10% 30px 10%;
  }
  #offers #offersCrutch #offersBottom .offersBox {
    width: 100%;
    height: 400px;
  }
  #offers #offersCrutch #offersBottom .offersBox img {
    width: 280px;
  }
  #offers #offersCrutch #offersBottom .offersBox p {
    padding: 20px 0 20px 0;
  }
  #offers #offersCrutch #offersBottom .offersBox .offersHover {
    width: 25%;
  }
  #ourMenu {
    height: 1690px;
  }
  #ourMenu h2 {
    text-align: center;
    padding: 70px 0 50px 0;
  }
  #ourMenu #ourMenuCrutch {
    width: 94%;
    height: 1350px;
  }
  #ourMenu #ourMenuCrutch #ourMenuNavigation #ourMenuNavigationCrutch {
    width: 90%;
  }
  #ourMenu #ourMenuCrutch #ourMenuBlocks .newMenuElem {
    width: 90%;
    height: 280px;
  }
  #galleryTop #galleryCrutch {
    padding-bottom: 200%;
  }
  #galleryTop #galleryCrutch #hereContents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: -1120px;
  }
  #galleryTop #galleryCrutch #hereContents div {
    width: 100%;
  }
  #galleryBottom #galleryCrutch2 {
    padding-bottom: 100%;
  }
  #galleryBottom #galleryCrutch2 #hereContents2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 1120px;
  }
  #galleryBottom #galleryCrutch2 #hereContents2 div {
    width: 100%;
  }
  .galleryHover .round .smallRound {
    cursor: default;
  }
  #news #newsHeader {
    font-size: 18px;
  }
  #news #nonagon {
    width: 300px;
  }
  #news #nonagon #nonagonCrutch {
    width: 2700px;
  }
  #news #nonagon #nonagonCrutch .nonagon h4 {
    font-size: 20px;
  }
  #news #nonagon #nonagonCrutch .nonagon p {
    font-size: 12px;
  }
  #news #nonagon #nonagonCrutch .nonagon h5 {
    font-size: 12px;
  }
  #news #triada {
    display: none;
  }
  #news #diod {
    width: 70px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 800px;
  }
  #news #diod #diodLeft {
    font-weight: bold;
    cursor: pointer;
  }
  #news #diod #diodRight {
    font-weight: bold;
    cursor: pointer;
  }
  #news #diod #counter {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2d2d2d;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer {
    height: 560px;
  }
  #footer #footerLogo {
    margin-top: 50px;
  }
  #footer #footerMenu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 260px;
  }
  #footer #footerMenu .footerMenu {
    margin: 5px;
  }
  #footer #footerMenu .footerMenuSlash {
    display: none;
  }
  #footer #footerIcons {
    width: 260px;
    height: 30px;
  }
  #footer #footerIcons .footerIcons {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  #footer #footerSign {
    width: 260px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 300px) {
  #header {
    display: none;
  }
  #welcome {
    display: none;
  }
  #aboutUs {
    display: none;
  }
  #offers {
    display: none;
  }
  #ourMenu {
    display: none;
  }
  #galleryTop {
    display: none;
  }
  #galleryBottom {
    display: none;
  }
  #news {
    display: none;
  }
  #footer {
    display: none;
  }
  #pinhead {
    display: none;
  }
  #finitaLaComedia {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
    color: red;
    height: 100vh;
    font-size: 20px;
  }
  #finitaLaComedia p {
    width: 90%;
    text-align: justify;
  }
}

#pinhead {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11;
}

#pinhead #prettyFace {
  background-image: url("../img/dug.png");
  background-repeat: round;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#pinhead #prettyFace:hover {
  background-image: url("../img/pin.png");
}

#pinhead #prettyFace #prettyDot {
  position: absolute;
  top: 4px;
  right: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
/*# sourceMappingURL=main.css.map */