@media screen and (max-width: 1199px) // + welcome appendix offers ourMenu news

    #welcome
        #welcomeCrutch
            h2
                font-size: 32px
            #appendix
                width: 960px
                height: 152px
                margin-top: 300px

    #aboutUs
        #aboutUsCrutch
            width: 960px
            #aboutUsLeft
                width: 530px
                img
                    width: 85%
            #aboutUsRight
                width: 430px
                h2
                    font-size: 28px
                    padding-top: 170px
                p
                    font-size: 12px
                img
                    width: 100px

    #offers
        #offersCrutch
            width: 960px
            #offersTop
                margin-top: -250px
            #offersBottom
                margin-top: 860px
                .offersBox
                    .offersHover
                        margin-top: 180px

    #ourMenu
        #ourMenuCrutch
            width: 960px

    #galleryTop
        #galleryCrutch
            #hereContents
                margin-top: -300px
    #galleryBottom
        #galleryCrutch2
            #hereContents2
                margin-top: 250px

    #news
        #newsHeader
            margin-top: -100px
        #nonagon
            width: 1000px

@media screen and (max-width: 991px)  // + header

    #header
        height: 56px

    #welcome
        margin-top: 56px
        height: 400px
        #welcomeBackCrutch
            height: 400px
            #welcomeBack
                height: 430px
        #welcomeCrutch
            margin: 80px auto 0 auto
            h2
                font-size: 32px
            #appendix
                width: 690px
                height: 211px
                margin-top: 40px
                .appendixSlash
                    margin-top: -70px
                #appendixName
                    margin-top: -70px
                    width: 160px
                    #appendixNameName
                    #appendixNameForm form input
                #appendixPhone
                    margin-top: -70px
                    width: 160px
                    #appendixPhoneName
                    #appendixPhoneForm form input
                #appendixCalendar
                    margin-top: -70px
                    width: 160px
                    #appendixCalendarHead
                    #appendixCalendarFooter
                        #appendixCalendarFooterDate
                            width: 40px
                        #appendixCalendarFooterDate form input
                        #appendixCalendarFooterIcon
                #appendix4
                    margin-top: -70px
                    width: 264px
                    #appendix4left
                        width: 80%
                        #appendix4leftHead
                        #appendix4leftFooter
                            #peopleEval
                            #peoplePicker
                    #appendixButton
                        margin-left: -435px
                        margin-top: 90px
                        position: absolute
                        width: 200px

    #aboutUs
        height: 930px
        #aboutUsCrutch
            width: 690px
            display: inline-block
            #aboutUsLeft
                width: 530px
                height: 400px
                img
                    width: 100%
                    padding-top: 140px
            #aboutUsRight
                width: 690px
                padding-top: 0px
                margin: 0 0 0 1000px
                h2
                    font-size: 20px
                    padding-top: 160px
                p
                    font-size: 16px
                img
                    width: 80px

    #offers
        height: 720px
        #offersCrutch
            width: 740px
            #offersTop
                margin-top: -270px
            #offersBottom
                .offersBox
                    .offersHover
                        margin-top: 120px

    #ourMenu
        #ourMenuCrutch
            width: 740px

    #galleryTop
        #galleryCrutch
            #hereContents
                margin-top: -200px
    #galleryBottom
        #galleryCrutch2
            #hereContents2
                margin-top: 200px    


    #news
        #newsHeader
            font-size: 26px
        #nonagon
            width: 740px
            #nonagonCrutch
                .nonagon
                    .nonTop
                    h4
                        font-size: 22px
                    p
                        font-size: 14px
                    h5
                        font-size: 14px

@media screen and (max-width: 767px)  // + gallery

    #header
        height: 56px
        #headerCrutch
            width: 95%
            font-size: 12px
            #logo
                width: 120px
            #headerText
                width: 300px
            #boo
                width: 80px
                font-size: 12px

    #welcome
        #welcomeBackCrutch
            #welcomeBack
        #welcomeCrutch
            h2
            p
                font-size: 16px
                width: 300px
            #appendix
                width: 510px
                height: 273px
                display: grid
                grid-template-rows: 136px 137px
                grid-template-columns: 255px 255px
                grid-gap: 0
                .appendixSlash
                    margin-top: -70px
                    display: none
                #appendixName
                    margin-top: 40px
                    width: 250px
                    #appendixNameName
                        margin: 20px 0 0 20px
                    #appendixNameForm form input
                        padding-left: 20px
                        margin-top: 20px
                #appendixPhone
                    margin-top: 40px
                    width: 250px
                    #appendixPhoneName
                        margin: 20px 0 0 20px
                    #appendixPhoneForm form input
                        padding-left: 20px
                        margin-top: 20px
                        width: 200px
                #appendixCalendar
                    margin-top: 20px
                    width: 250px
                    #appendixCalendarHead
                        margin: -10px 0 0 20px
                    #appendixCalendarFooter
                        #appendixCalendarFooterDate
                            width: 40px
                        #appendixCalendarFooterDate form input
                        #appendixCalendarFooterIcon
                #appendix4
                    margin-top: 20px
                    width: 250px
                    #appendix4left
                        width: 80%
                        #appendix4leftHead
                            margin: -10px 0 0 20px
                        #appendix4leftFooter
                            #peopleEval
                            #peoplePicker
                    #appendixButton
                        margin-left: -230px
                        margin-top: 20px

    #aboutUs
        height: 1040px
        #aboutUsCrutch
            width: 510px
            #aboutUsLeft
                width: 510px
                margin-left: -130%
                img
                    padding-top: 200px
            #aboutUsRight
                position: absolute
                width: 510px
                margin: 0 0 0 1000px
                h2
                    padding-top: 200px
                    font-size: 28px
                img
                    float: right
                    margin-top: -20px

    #offers
        height: 580px
        #offersCrutch
            width: 510px
            #offersTop
                h2
                    padding-top: 30px
                    font-size: 28px
                p
                    padding: 20px 10% 50px 10%
            #offersBottom
                .offersBox
                    .offersHover
                        margin-top: 90px

    #ourMenu
        h2
            font-size: 28px
        #ourMenuCrutch
            width: 510px
            #ourMenuNavigation
                #ourMenuNavigationCrutch
                    h3
                        font-size: 12px
            #ourMenuBlocks
                .newMenuElem
                    .price
                        font-size: 14px
                    .productName
                        font-size: 20px
                    .productDescript
                        font-size: 14px

    #news
        #newsHeader
            font-size: 24px
        #nonagon
            width: 510px
            #nonagonCrutch
                .nonagon
                    .nonTop
                    h4
                        font-size: 20px
                    p
                        font-size: 12px
                    h5
                        font-size: 12px

    .long
        display: inherit
        margin: 15px 0 0 20px
        border: none
        background-color: grey
        color: grey
        height: 1px
        width: 56%

@media screen and (max-width: 575px)  // + footer

    #header
        height: 56px
        #headerCrutch
            width: 95%
            font-size: 12px
            #logo
                width: 120px
            #headerText
                width: 300px
            #boo
                width: 80px
                font-size: 12px

    #welcome
        #welcomeBackCrutch
            #welcomeBack
        #welcomeCrutch
            h2
            p
                font-size: 14px
                width: 94%
            #appendix
                width: 94%
                margin-left: 3%
                margin-right: 3%
                height: 457px
                display: grid
                grid-template-rows: 90px 90px 90px 180px
                grid-template-columns: 1fr
                grid-gap: 0
                font-size: 15px
                .appendixSlash
                    margin-top: -70px
                    display: none
                #appendixName
                    margin-top: 0
                    width: 100%
                    height: 90px
                    #appendixNameName
                        margin: 10px 0 0 20px
                    #appendixNameForm form input
                        padding-left: 20px
                        margin-top: 20px
                        font-size: 16px
                #appendixPhone
                    margin-top: 0
                    width: 100%
                    height: 90px
                    #appendixPhoneName
                        margin: 10px 0 0 20px
                    #appendixPhoneForm form input
                        padding-left: 20px
                        margin-top: 20px
                        width: 200px
                        font-size: 16px
                #appendixCalendar
                    margin-top: 0
                    width: 100%
                    height: 90px
                    #appendixCalendarHead
                        margin: 10px 0 0 20px
                    #appendixCalendarFooter
                        #appendixCalendarFooterDate
                            width: 40px
                        #appendixCalendarFooterDate form input
                            font-size: 16px
                        #appendixCalendarFooterIcon
                #appendix4
                    margin-top: 0
                    width: 100%
                    height: 90px
                    #appendix4left
                        width: 100%
                        #appendix4leftHead
                            margin: 10px 0 0 20px
                        #appendix4leftFooter
                            font-size: 16px
                            width: 95%
                            margin: 30px 0 0 20px
                            #peopleEval
                                width: 100%
                            #peoplePicker
                                width: 100%
                    #appendixButton
                        margin-left: 17px
                        margin-top: 50px

    .long
        width: 90%

    #aboutUs
        height: fit-content
        display: inline-block
        #aboutUsCrutch
            width: 94%
            margin: 0 3%
            display: inline-block
            height: fit-content
            #aboutUsLeft
                width: 100%
                margin-left: -130%
                height: fit-content
                display: inline-block
                img
                    padding-top: 390px
            #aboutUsRight
                display: inline-block
                position: relative
                width: 100%
                height: fit-content
                margin: 0 0 0 1000px
                h2
                    padding-top: 20px
                    font-size: 18px
                p
                    font-size: 14px
                img
                    float: right
                    margin-top: -20px
                    padding-bottom: 30px

    #offers
        height: 480px
        margin-top: -5px
        #offersCrutch
            width: 94%
            margin: 0 3%
            #offersTop
                h2
                    padding-top: 30px
                    font-size: 18px
                p
                    padding: 20px 10% 50px 10%
                    font-size: 14px
            #offersBottom
                .offersBox
                    h3
                        font-size: 12px
                    p
                        font-size: 12px
                    .offersHover
                        margin-top: 60px
                        font-size: 10px
                        height: 20px

    #ourMenu
        h2
            font-size: 20px
        #ourMenuCrutch
            width: 94%
            margin: 0 3%
            #ourMenuNavigation
                width: 100%
                #ourMenuNavigationCrutch
                    width: 60%
                    h3
                        font-size: 10px
                        margin: 0 10px
            #ourMenuBlocks
                .newMenuElem
                    .price
                        font-size: 10px
                    .productName
                        font-size: 12px
                    .productDescript
                        font-size: 12px
                        text-align: justify

    #galleryTop
        #galleryCrutch
            padding-bottom: 200% // этой строчкой регулируем высоту к ширине
            #hereContents
                flex-wrap: wrap
                flex-direction: row
                margin-top: -1120px
                div
                    width: 100%

    #galleryBottom
        #galleryCrutch2
            padding-bottom: 100% // этой строчкой тоже регулируем высоту к ширине
            #hereContents2
                flex-wrap: wrap
                flex-direction: row
                margin-top: 1120px
                div
                    width: 100%
    
    .galleryHover
        .round
            .smallRound
                cursor: default
    
    #news
        #newsHeader
            font-size: 18px
        #nonagon
            width: 300px
            #nonagonCrutch
                width: 2700px
                .nonagon
                    .nonTop
                    h4
                        font-size: 20px
                    p
                        font-size: 12px

                    h5
                        font-size: 12px
        
        #triada
            display: none
        #diod
            width: 70px
            height: 50px
            display: flex
            align-items: center
            justify-content: space-between
            #diodLeft
                font-weight: bold
                cursor: pointer
            #diodRight
                font-weight: bold
                cursor: pointer
            #counter
                width: 25px
                height: 25px
                border-radius: 50%
                background-color: rgb(45,45,45)
                color: white
                display: flex
                justify-content: center
                align-items: center

    #footer
        height: 560px
        #footerLogo
            margin-top: 50px
        #footerMenu
            justify-content: center
            flex-direction: column
            width: 260px
            .footerMenu
                margin: 5px
                &:hover
            .footerMenuSlash
                display: none
        #footerIcons
            width: 260px
            height: 30px
            .footerIcons
                width: 30px
                height: 30px
                font-size: 18px
                &:hover
        #footerSign
            width: 260px
            margin-top: 40px

@media screen and (max-width: 300px)

    #header
        display: none
    #welcome
        display: none
    #aboutUs
        display: none
    #offers
        display: none
    #ourMenu
        display: none
    #galleryTop
        display: none
    #galleryBottom
        display: none
    #news
        display: none
    #footer
        display: none

    #finitaLaComedia
        position: fixed
        display: flex
        align-items: center
        justify-content: center
        background-color: black
        color: red  
        height: 100vh
        font-size: 20px
        p
            width: 90%
            text-align: justify
