@media screen and (max-width: 1199px) // + welcome appendix offers ourMenu news

    #welcome
        #welcomeCrutch
            h2
                font-size: 32px
            #appendix
                width: 960px
                height: 152px
                margin-top: 300px

    #aboutUs
        #aboutUsCrutch
            width: 960px
            #aboutUsLeft
                width: 530px
                img
                    width: 85%
            #aboutUsRight
                width: 430px
                h2
                    font-size: 28px
                    padding-top: 170px
                p
                    font-size: 12px
                img
                    width: 100px

    #offers
        #offersCrutch
            width: 960px
            #offersTop
                margin-top: -250px
            #offersBottom
                margin-top: 860px
                .offersBox
                    .offersHover
                        margin-top: 180px

    #ourMenu
        #ourMenuCrutch
            width: 960px

    #galleryTop
        #galleryCrutch
            #hereContents
                margin-top: -300px
    #galleryBottom
        #galleryCrutch2
            #hereContents2
                margin-top: 250px

    #news
        #newsHeader
            margin-top: -100px
        #nonagon
            width: 1000px

@media screen and (max-width: 991px)  // + header

    #header
        height: 56px

    #welcome
        margin-top: 56px
        height: 400px
        #welcomeBackCrutch
            height: 400px
            #welcomeBack
                height: 430px
        #welcomeCrutch
            margin: 80px auto 0 auto
            h2
                font-size: 32px
            #appendix
                width: 690px
                height: 211px
                margin-top: 40px
                .appendixSlash
                    margin-top: -70px
                #appendixName
                    margin-top: -70px
                    width: 160px
                    #appendixNameName
                    #appendixNameForm form input
                #appendixPhone
                    margin-top: -70px
                    width: 160px
                    #appendixPhoneName
                    #appendixPhoneForm form input
                #appendixCalendar
                    margin-top: -70px
                    width: 160px
                    #appendixCalendarHead
                    #appendixCalendarFooter
                        #appendixCalendarFooterDate
                            width: 40px
                        #appendixCalendarFooterDate form input
                        #appendixCalendarFooterIcon
                #appendix4
                    margin-top: -70px
                    width: 264px
                    #appendix4left
                        width: 80%
                        #appendix4leftHead
                        #appendix4leftFooter
                            #peopleEval
                            #peoplePicker
                    #appendixButton
                        margin-left: -435px
                        margin-top: 90px
                        position: absolute
                        width: 200px

    #aboutUs
        height: 930px
        #aboutUsCrutch
            width: 690px
            display: inline-block
            #aboutUsLeft
                width: 530px
                height: 400px
                img
                    width: 100%
                    padding-top: 140px
            #aboutUsRight
                width: 690px
                padding-top: 0px
                margin: 0 0 0 1000px
                h2
                    font-size: 20px
                    padding-top: 160px
                p
                    font-size: 16px
                img
                    width: 80px

    #offers
        height: 720px
        #offersCrutch
            width: 740px
            #offersTop
                margin-top: -270px
            #offersBottom
                .offersBox
                    .offersHover
                        margin-top: 120px

    #ourMenu
        #ourMenuCrutch
            width: 740px

    #galleryTop
        #galleryCrutch
            #hereContents
                margin-top: -200px
    #galleryBottom
        #galleryCrutch2
            #hereContents2
                margin-top: 200px    


    #news
        #newsHeader
            font-size: 26px
        #nonagon
            width: 740px
            #nonagonCrutch
                .nonagon
                    .nonTop
                    h4
                        font-size: 22px
                    p
                        font-size: 14px
                    h5
                        font-size: 14px

@media screen and (max-width: 767px)  // + gallery

    #header
        height: 56px
        #headerCrutch
            width: 95%
            font-size: 12px
            #logo
                width: 120px
            #headerText
                width: 300px
            #boo
                width: 80px
                font-size: 12px

    #welcome
        #welcomeBackCrutch
            #welcomeBack
        #welcomeCrutch
            h2
            p
                font-size: 16px
                width: 300px
            #appendix
                width: 510px
                height: 273px
                display: grid
                grid-template-rows: 136px 137px
                grid-template-columns: 255px 255px
                grid-gap: 0
                .appendixSlash
                    margin-top: -70px
                    display: none
                #appendixName
                    margin-top: 40px
                    width: 250px
                    #appendixNameName
                        margin: 20px 0 0 20px
                    #appendixNameForm form input
                        padding-left: 20px
                        margin-top: 20px
                #appendixPhone
                    margin-top: 40px
                    width: 250px
                    #appendixPhoneName
                        margin: 20px 0 0 20px
                    #appendixPhoneForm form input
                        padding-left: 20px
                        margin-top: 20px
                        width: 200px
                #appendixCalendar
                    margin-top: 20px
                    width: 250px
                    #appendixCalendarHead
                        margin: -10px 0 0 20px
                    #appendixCalendarFooter
                        #appendixCalendarFooterDate
                            width: 40px
                        #appendixCalendarFooterDate form input
                        #appendixCalendarFooterIcon
                #appendix4
                    margin-top: 20px
                    width: 250px
                    #appendix4left
                        width: 80%
                        #appendix4leftHead
                            margin: -10px 0 0 20px
                        #appendix4leftFooter
                            #peopleEval
                            #peoplePicker
                    #appendixButton
                        margin-left: -230px
                        margin-top: 20px

    #aboutUs
        height: 1040px
        #aboutUsCrutch
            width: 510px
            #aboutUsLeft
                width: 510px
                margin-left: -130%
                img
                    padding-top: 200px
            #aboutUsRight
                position: absolute
                width: 510px
                margin: 0 0 0 1000px
                h2
                    padding-top: 200px
                    font-size: 28px
                img
                    float: right
                    margin-top: -20px

    #offers
        height: 580px
        #offersCrutch
            width: 510px
            #offersTop
                h2
                    padding-top: 30px
                    font-size: 28px
                p
                    padding: 20px 10% 50px 10%
            #offersBottom
                .offersBox
                    .offersHover
                        margin-top: 90px

    #ourMenu
        h2
            font-size: 28px
        #ourMenuCrutch
            width: 510px
            #ourMenuNavigation
                #ourMenuNavigationCrutch
                    h3
                        font-size: 12px
            #ourMenuBlocks
                .newMenuElem
                    .price
                        font-size: 14px
                    .productName
                        font-size: 20px
                    .productDescript
                        font-size: 14px

    #news
        #newsHeader
            font-size: 24px
        #nonagon
            width: 510px
            #nonagonCrutch
                .nonagon
                    .nonTop
                    h4
                        font-size: 20px
                    p
                        font-size: 12px
                    h5
                        font-size: 12px

@media screen and (max-width: 575px)  // + footer

    #header
        height: 56px
        #headerCrutch
            width: 95%
            font-size: 12px
            #logo
                width: 120px
            #headerText
                width: 300px
            #boo
                width: 80px
                font-size: 12px

    #welcome
        #welcomeBackCrutch
            #welcomeBack
        #welcomeCrutch
            h2
            p
                font-size: 16px
                width: 300px
            #appendix
                width: 510px
                height: 273px
                display: grid
                grid-template-rows: 136px 137px
                grid-template-columns: 255px 255px
                grid-gap: 0
                .appendixSlash
                    margin-top: -70px
                    display: none
                #appendixName
                    margin-top: 40px
                    width: 250px
                    #appendixNameName
                        margin: 20px 0 0 20px
                    #appendixNameForm form input
                        padding-left: 20px
                        margin-top: 20px
                #appendixPhone
                    margin-top: 40px
                    width: 250px
                    #appendixPhoneName
                        margin: 20px 0 0 20px
                    #appendixPhoneForm form input
                        padding-left: 20px
                        margin-top: 20px
                        width: 200px
                #appendixCalendar
                    margin-top: 20px
                    width: 250px
                    #appendixCalendarHead
                        margin: -10px 0 0 20px
                    #appendixCalendarFooter
                        #appendixCalendarFooterDate
                            width: 40px
                        #appendixCalendarFooterDate form input
                        #appendixCalendarFooterIcon
                #appendix4
                    margin-top: 20px
                    width: 250px
                    #appendix4left
                        width: 80%
                        #appendix4leftHead
                            margin: -10px 0 0 20px
                        #appendix4leftFooter
                            #peopleEval
                            #peoplePicker
                    #appendixButton
                        margin-left: -230px
                        margin-top: 20px

    #aboutUs
        height: 1040px
        #aboutUsCrutch
            width: 510px
            #aboutUsLeft
                width: 510px
                margin-left: -130%
                img
                    padding-top: 200px
            #aboutUsRight
                position: absolute
                width: 510px
                margin: 0 0 0 1000px
                h2
                    padding-top: 200px
                    font-size: 28px
                img
                    float: right
                    margin-top: -20px

    #offers
        height: 580px
        #offersCrutch
            width: 510px
            #offersTop
                h2
                    padding-top: 30px
                    font-size: 28px
                p
                    padding: 20px 10% 50px 10%
            #offersBottom
                .offersBox
                    .offersHover
                        margin-top: 120px

    #ourMenu
        h2
            font-size: 28px
        #ourMenuCrutch
            width: 510px
            #ourMenuNavigation
                #ourMenuNavigationCrutch
                    h3
                        font-size: 12px
            #ourMenuBlocks
                .newMenuElem
                    .price
                        font-size: 14px
                    .productName
                        font-size: 20px
                    .productDescript
                        font-size: 14px

    #news
        #newsHeader
            font-size: 24px
        #nonagon
            width: 510px
            #nonagonCrutch
                .nonagon
                    .nonTop
                    h4
                        font-size: 20px
                    p
                        font-size: 12px
                    h5
                        font-size: 12px

    #footer
        width: 100%
        height: 606px
        background-color: #323232
        display: flex
        align-items: center
        flex-direction: column
        #footerLogo
            margin-top: 110px
        #footerMenu
            display: flex
            justify-content: space-between
            align-content: center
            align-items: center
            justify-items: center
            width: 500px
            margin-top: 60px
            color: white
            font-weight: bold
            .footerMenu
                &:hover
                    color: green
            .footerMenuSlash
                height: 100%
                width: 1px
                background-color: white
        #footerIcons
            width: 450px
            height: 50px
            margin-top: 60px
            display: flex
            justify-content: space-between
            .footerIcons
                width: 50px
                height: 50px
                border-radius: 50%
                font-size: 25px
                background-color: dimgrey
                color: white
                display: flex
                align-items: center
                justify-content: center
                &:hover
                    background-color: green